<turbo-frame id="{{ frameId }}">
    <div class="alert alert-danger">
        Une erreur est survenue, veuillez réeassayer.
    </div>
    {% if form is defined and form is not null %}
    {{ form_start(form, {'method': 'POST', 'action': path('app_projet_update', {'id':proposition.projet.id})}) }}
    {{ form_row(form.assigneRoles) }}
    <button class="btn btn-primary
                                                    {% if game.pause == true %}
                                                    disabled
                                                    {% endif %}"
            {% if game.pause == true %}disabled{% endif %}
            type="submit">Affecter
    </button>
    {{ form_end(form) }}
    {% endif %}
</turbo-frame>