{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}

    <h1>Game {{ game.id }}</h1>
    <turbo-frame id="phase_link">
    <h1> Periode :
        {% if game.periode == 1 %}
            Janvier
        {% elseif game.periode == 2 %}
            Février
        {% elseif game.periode == 3 %}
            Mars
        {% endif %}
    </h1>
    <p>Phase : {{ game.phase }}</p>

        <a href="{{ path('app_game_switchphase', {'id':game.id}) }}">Switch</a>
    </turbo-frame>

    <div id="phase" {{ turbo_stream_listen('game/'~game.id) }}>
    <h2>Ici le contenu</h2>
    </div>
{% endblock %}
