<turbo-frame id="proposition-frame">
    <a href="{{ path('app_proposition_create', {'offreId':offre.id, 'equipeId':equipe.id}) }}"
       data-turbo-frame="proposition-frame">
        <button class="btn btn-primary">Répondre à cette offre</button>
    </a>
</turbo-frame>