<turbo-stream action="replace" target="proposition">
    <a href="#">
        <button class="btn btn-primary">Annuler la proposition</button>
    </a>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</turbo-stream>