<turbo-stream action="replace" target="phase">
<template>
    <div id="phase" {{ turbo_stream_listen('game/'~game.id) }}>
            {% for offre in offres %}
                <ul>
                    <li>{{ offre.libelle }}</li>
                    <li>{{ offre.prixMin }}</li>
                    <li>{{ offre.prixMax }}</li>
                </ul>
            {% endfor %}
        </div>
    </template>
</turbo-stream>